---
---

@import "minima";

.site-header {
    background-image: linear-gradient(120deg, #155799, #159957);
    border-top: 0px;
    border-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100; 
}

.page-content .wrapper {
    padding-top: 65px;
}

.site-nav .page-link {
    color: white;
}

.dropdown-label > .dropdown-list {
    display: none;
    list-style: none;
    margin: 0;
    margin-inline: 0;
    padding: 0;
}

@media screen and (min-width: 600px) {
    .dropdown-label {
        position: relative;

        > .dropdown-list {
            display: none;
            z-index: 1000;
            position: absolute;
            top: 1em;
            right: 0;
            background: white;
            border: 1px solid #ccc;
            padding: 0.5em 1em;
        }
    }

    .dropdown-label:hover > .dropdown-list {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .site-nav .page-link {
        color:#111;
    }

    .dropdown-label {
        cursor: pointer;
    }

    .dropdown-span::before,
    .dropdown-span::after {
        vertical-align: middle;
        font-size: small;
        margin: 4px;
        content: "▾";
    }

    .nav-trigger:checked {
        ~ .dropdown-span::before,
        ~ .dropdown-span::after {
            content: "▴";
        }

        ~ .dropdown-list {
            display: block;
        }
    }
}

.page-content h1 {
    color: #111;
}

.page-content h2 {
    font-size: 24px;
    font-weight: 450px;
    color: #159957;
}

.page-content h3 {
    color: #159957;
    font-size: 19px;
    padding-left: 10px;
}

.site-header img {
    /* svg on an img tag */
    -webkit-filter: invert(1);
    /* safari 6.0 - 9.0 */
    filter: invert(1);
}

.text-muted {
    color: #6c757d
}
